---
BasedOnStyle:  Google
AccessModifierOffset: -2
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
SortIncludes: Never
ColumnLimit:     120
IndentCaseLabels: true
IndentWidth:     4
MaxEmptyLinesToKeep: 2
PointerAlignment: Right
